body {
  background: #f5eef3 !important;
}
h1 {
  font-size: 1.82em;
  margin-top: 0.67em;
  text-align: center;

  font-weight: bold;
}
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}

th{
  background: #841f88 !important;
  color: #daa3ca!important;
}

