label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input {
  width: 40%;
  padding: 5px 5px;
  margin: 40px 10px;
  box-sizing: border-box;

  color: rgb(0, 0, 0) !important;
  font-weight: bolder;
}
label {
  width: 25%;
  color: rgb(239, 231, 240) !important;
  padding: 5px 5px;
  margin: 10px 70px;
  box-sizing: border-box;
  display: inline-block;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.banner-area {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(car_img.jpg);
  background-size: cover;
}

.content-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 80px;
  color: #fff;
}

.float-container {
  padding: 5px 5px;
  margin: 30px 10px;
}

.btn {
  padding: 5px 5px;
  margin: 30px 10px;
}
