body {
  background: #f5eef3 !important;
}
h1 {
  font-size: 1.82em;
  margin-top: 0.67em;
  text-align: center;

  font-weight: bold;
}
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: antiquewhite!important;
}

th{
  background: #841f88 !important;
  color: #daa3ca!important;
  border: 1em ;
}

